/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

$font-family-sans-serif: "Roboto Condensed";

// colors

$navbar-bg: #00AED3;
$navbar-fg: #F0F0F0;

$link-color: #ae8b2d;
$hover-color: lighten($link-color, 40%);

/*-- scss:rules --*/
.card-header {
  background-color: #F0F0F0;
  color: #010101;
}

.nav-item > a:hover {
  color: #ae8b2d;
}

.nav-link{
  color: #F0F0F0;
}
